
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#navbar-container {
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*
equal children width for flex
https://stackoverflow.com/questions/29503227/how-to-make-flexbox-items-the-same-size
*/
.container {
    flex: 1;
    height: 100%;

    display: flex;
    align-items: center;

}

#menu {
    position: absolute;
    background-color: blue;
    width: 250px;
    height: 700px;
    display: none;
}

#left {
    justify-content: left;

}

#left h1, #left button {
    margin: 0 5px 0 5px;
}

#left h1 {
    color: white;
    font-size: clamp(1.6rem, 2.5vw, 2rem);
}

#left button {
    width: 40px;
    height: 30px;

    border: none;
    background: none;

    display: flex;
    justify-items: center;
    align-items: center;

}

#left button:hover {
    cursor: pointer;
}

#left button svg rect {
    fill: white;
}


#middle {
    display: none;
}

#searchbox {
display: flex;
}

#input {
    display: none;
}

#right {
    justify-content: right;
}

@media (min-width: 770px) {
    #input {
        display: block;
    }

    #middle {
        display: flex;
        justify-content: center;
    }
}